@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Play&display=swap');

body{
	background-color: #d9d9d9;
}

.navBarTitle{
	font-family: 'Play', sans-serif;
	font-weight: bold;
	font-size: 30px;
}

.searchBar{
	position: relative;
	margin: 0 auto;
}

#searchButton{
	float: right;
	position: absolute;
}

.headerDropDown{
	float: right;
}

.homeBackLogList{
	margin: 10px 10px;
	list-style: none;
	font-family: 'Play', sans-serif;
}

.homeBackLogList li {
	list-style: none;
	font-family: 'Tomorrow', sans-serif;
}

.backlogListTitle{
	font-family: 'Play', sans-serif;
}

.gameListItem{
	height: 200px;
	width: 75%;
	padding: 50px 0;
}

.registrationContainer{
	border: 2px solid #343A40;
	position: relative;
	margin: 10% auto;
	width: 500px;
	padding: 5px 10px;
}
.gameCard{
	background-color: #343A40;
	color: #fff;
	padding: 5px;
	margin: 15px 30px;
	width: 285px;
}

.gameCardImage{
	height: 170px;
	width: 273px;
	padding: 0 0 10px 0;
}

.cardButtons{
	margin: 5px;
}
.cardButtonLeft{
	width: 47%;
	float: left;
}

.cardButtonRight{
	width: 47%;
	float: right;
}
.gameCardTitle{
	text-align: center;
	font-family: 'Play', sans-serif;	
}

.gameCardSubtitle{
	text-align: center;
}


#gameShowPageTitle{
	text-align: center;
	margin: 5px 0;
	font-family: 'Play', sans-serif;
	font-weight: bold;
}

#gameShowPageImage{
	height: 250px;
	width: 400px;
	margin: 5px
}

#gameShowPageDescription{
	font-family: 'Tomorrow', sans-serif;
}

.gameShowDescription{
	width: 400px;
}

#gameShowPageBody{
	background-color: #d9d9d9;
}


.showPageComments{
	height: 400px;
}

.showPageComments h1{
	text-align: center;
	font-family: 'Play', sans-serif;
}

.showPageComments li{
	list-style-type: square;
	font-family: 'Tomorrow', sans-serif;
	font-size: 15px;
}

.backlogIcon{
	height: 25px;
	width: 25px;
}

.titleRow{
	margin: 10px
}

.loginLink{
	text-align: center;
}
